# Lab 1 - Pandas Intro

In [2]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [3]:
mask = (movies_df.imdb_score.mean())
mask

6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [26]:
mask = (movies_df.loc[0:9].movie_tite == "Star Wars")

mask.sum()

AttributeError: 'DataFrame' object has no attribute 'movie_tite'

**2.** Which movie has the highest IMDB Score? What is that score?

In [27]:
mask = (movies_df.imdb_score.max() & movies_df.movie_title) 


mask

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

**3**. Which movie has the lowest IMDB Score? What is that score?

In [10]:
mask = (movies_df.imdb_score.min())



mask

1.6

**4.** For each director, how many movies have they directed (from this dataset)?

In [11]:
mask = (movies_df.)

SyntaxError: invalid syntax (<ipython-input-11-25eb359417ce>, line 1)

**5.** What's the average duration of Action movies?

In [ ]:
mask = (movies_df.genres =="Action")

mask

0       False
1       False
2       False
3       False
4       False
        ...
4911    False
4912    False
4913    False
4914    False
4915    False
Name: genres, Length: 4916, dtype: bool

**6.** Which PG-13 movie had the biggest budget?

In [ ]:
mask = (movies_df.content_rating == "PG-13")
mask2 = ()

**7.** How many movies were made in each year (title_year)?

**8.** How many movies had more than 10000 movie_facebook_likes?

In [16]:
mask = (movies_df.movie_facebook_likes > 10000)

mask.sum()

1022


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [ ]:
mask = (movies_df.actor_1_name == "Tom Hanks") | (movies_df.actor_2_name == "Tom Hanks") | (movies_df.actor_3_name == "Tom Hanks")
#| is the or operator


mask.sum()

28

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

12. What are the missing values ( NaN )?

In [ ]:
movies_df.duration.isna().sum()/len((movies_df))
movies_df.duration.fillna( movies_df.duration.median(), inplace=True )

movies_df.loc[4].duration

103.0