# Lab 1 - Pandas Intro

In [121]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [122]:
mask = (movies_df.imdb_score.mean())
mask

6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [123]:
mask = (movies_df.movie_title.str[0:9] == "Star Wars")

print(f"there are {mask.sum()} Star Wars Movies")

there are 8 Star Wars Movies

**2.** Which movie has the highest IMDB Score? What is that score?

In [134]:
mask = (movies_df.imdb_score.max())
mask2 = movies_df.loc[ mask ,'movie_title']
print(f"The highest rated movie is {mask2}")

KeyError: 9.5

**3**. Which movie has the lowest IMDB Score? What is that score?

In [ ]:
mask = (movies_df.imdb_score.min())



mask

1.6

**4.** For each director, how many movies have they directed (from this dataset)?

In [137]:
directors = movies_df.director_name
mask = directors.value_counts()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
Nanette Burstein     1
Graham Annable       1
Philip Saville       1
Shane Dawson         1
Peter R. Hunt        1
Name: director_name, Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [ ]:
mask = (movies_df.genres.str[0:6] == "Action" ) 
mask2 = movies_df.loc[mask].duration

print(f"the average duration of action movies is {mask2.mean()} minutes")

the average duration of action movies is 110.65588499550763 minutes

**6.** Which PG-13 movie had the biggest budget?

In [193]:
mask = (movies_df.content_rating.str[0:5] == "PG-13")
mask2 = movies_df.loc[mask].budget.max()
mask3 = ['movie','budget']
mask4 = mask2[mask3]

print(f"The highest budgeted PG-13 is {mask3}")

TypeError: 'float' object is not subscriptable

**7.** How many movies were made in each year (title_year)?

In [173]:
years = ((movies_df.title_year))
mask = years.value_counts()
mask.sort_index()

1916.0      1
1920.0      1
1925.0      1
1927.0      1
1929.0      2
         ...
2012.0    214
2013.0    231
2014.0    243
2015.0    211
2016.0     98
Name: title_year, Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [ ]:
mask = (movies_df.movie_facebook_likes > 10000)

print(f"There were {mask.sum()} movies that had over 10000 facebook likes")

There were 1022 movies that had over 10000 facebook likes


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [ ]:
mask = (movies_df.actor_1_name == "Tom Hanks") | (movies_df.actor_2_name == "Tom Hanks") | (movies_df.actor_3_name == "Tom Hanks")
#| is the or operator


mask.sum()

28

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [191]:
mask = (movies_df.facenumber_in_poster < 2)
mask2 = movies_df.loc[mask]
mask3 = ['movie_title','num_voted_users']

mask2[mask3]

                                     movie_title  num_voted_users
0                                         Avatar           886204
1       Pirates of the Caribbean: At World's End           471220
2                                        Spectre           275868
3                          The Dark Knight Rises          1144337
4     Star Wars: Episode VII - The Force Awakens                8
...                                          ...              ...
4909                             The Mongol King               36
4910                                   Newlyweds             1338
4912                               The Following            73839
4913                        A Plague So Pleasant               38
4915                           My Date with Drew             4285

[3313 rows x 2 columns]

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [223]:
mask = (movies_df.title_year == 2000) | (movies_df.title_year == 2001) |(movies_df.title_year == 2002)|(movies_df.title_year == 2003)| (movies_df.title_year == 2004)
mask2 = (movies_df.loc[mask].director_name)
mask3 = movies_df.loc[mask].director_facebook_likes

dataframe = pd.DataFrame(mask3,mask2)
dataframe

                 director_facebook_likes
director_name
Sam Raimi                            NaN
Robert Zemeckis                      NaN
Jonathan Mostow                      NaN
Rob Cohen                            NaN
Michael Bay                          NaN
...                                  ...
Olivier Assayas                      NaN
Jafar Panahi                         NaN
Tadeo Garcia                         NaN
Shane Carruth                        NaN
Jon Gunn                             NaN

[932 rows x 1 columns]

12. What are the missing values ( NaN )?

In [ ]:
movies_df.duration.isna().sum()/len((movies_df))
movies_df.duration.fillna( movies_df.duration.median(), inplace=True )


movies_df.loc[4].duration

103.0